# ==============================================================================
#  Django (DRF: c_sns) 用の除外設定
# ==============================================================================
# Pythonが自動生成するキャッシュファイル
c_sns/**/__pycache__/
c_sns/**/*.py[cod]
c_sns/**/*$py.class

# Pythonの仮想環境（環境ごとに異なるためGit管理から除外）
c_sns/**/.venv/

# ローカルの開発用データベース（個人データやテストデータを含むため除外）
c_sns/**/db.sqlite3

# メディアファイル（ユーザーがアップロードしたアイコン画像などを除外）
c_sns/**/media/


# ==============================================================================
#  Flutter (c_sns_fe) 用の除外設定
# ==============================================================================
# ツールやビルドによって自動生成されるファイル
c_sns_fe/**/.buildvcs
c_sns_fe/**/.dart_tool/
c_sns_fe/**/.flutter-plugins
c_sns_fe/**/.flutter-plugins-dependencies
c_sns_fe/**/.packages
c_sns_fe/**/.pub-cache/
c_sns_fe/**/.pub/
c_sns_fe/**/build/
c_sns_fe/**/*.epf

# OS（Mac/Windows）が自動生成する一時ファイル
**/.DS_Store
**/Thumbs.db