# ==============================================================================
#  Django (DRF: been_shot) 用の除外設定
# ==============================================================================
# Pythonが自動生成するキャッシュファイル
been_shot/**/__pycache__/
been_shot/**/*.py[cod]
been_shot/**/*$py.class

# Pythonの仮想環境（環境ごとに異なるためGit管理から除外）
been_shot/**/.venv/

# ローカルの開発用データベース（個人データやテストデータを含むため除外）
been_shot/**/db.sqlite3

# メディアファイル（ユーザーがアップロードしたアイコン画像などを除外）
been_shot/**/media/


# ==============================================================================
#  Flutter (been_shot_fe) 用の除外設定
# ==============================================================================
# ツールやビルドによって自動生成されるファイル
been_shot_fe/**/.buildvcs
been_shot_fe/**/.dart_tool/
been_shot_fe/**/.flutter-plugins
been_shot_fe/**/.flutter-plugins-dependencies
been_shot_fe/**/.packages
been_shot_fe/**/.pub-cache/
been_shot_fe/**/.pub/
been_shot_fe/**/build/
been_shot_fe/**/*.epf

# OS（Mac/Windows）が自動生成する一時ファイル
**/.DS_Store
**/Thumbs.db